body {
    position: relative;
    background-image: url("../assets/images/login.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    &::after {
        content: "";
        background-color: black;
        position: absolute;
        inset: 0;
        opacity: 0.5;
        pointer-events: none;
    }
}


.login-page {
    position: relative;
    min-height: calc(100vh - 70px);
    padding: 70px 40px;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
}

.login-button {
    display: inline-block;
    padding: 14px 30px;
    background: #5865F2;
    color: white;
    text-decoration: none;
    font-size: 24px;
    border-radius: 8px;
    transition: transform 0.2s, opacity 0.2s;
}

.login-button:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

.login-page h1 {
    font-size: 48px;
    padding: 20px;
}

.login-page p {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    padding: 40px;
}

@media (max-width: 500px) {
    .login-page h1 {
        font-size: 48px;
        padding: 10px;
    }   

    .login-page p {
        padding: 20px;
    }
}